{% extends 'base.html' %}
{% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About us...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome here is my ecommerce project</p>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <p align="justify">
                            <br/><br/>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec felis erat, vestibulum in sapien at, cursus convallis nulla. Maecenas pharetra sollicitudin nulla quis feugiat. Sed facilisis elementum nisl, ut posuere neque gravida et. Nunc in lacus libero. Praesent finibus egestas odio at sodales. Integer dictum purus urna, quis condimentum odio tempus ut. Sed massa tellus, venenatis ut faucibus at, pretium in enim. Quisque id nisl eu purus consectetur aliquam sed eget metus. Nulla semper nunc id porttitor semper. Maecenas scelerisque ipsum quis velit porta, eu pharetra justo placerat. Cras aliquam diam est, eu iaculis arcu gravida a. Proin egestas, est sit amet volutpat finibus, leo dui vestibulum dui, sit amet ullamcorper massa nulla cursus risus. Pellentesque egestas, nulla non dictum faucibus, libero dui ornare enim, non blandit ex nulla sed erat.
                            <br/><br/>
                            Mauris vitae imperdiet nisl. Praesent tortor magna, cursus eget dolor a, tristique consequat dolor. Mauris posuere metus eu odio faucibus sodales. Nulla in odio accumsan odio vulputate sagittis. Ut erat nibh, tristique eu porta a, fermentum ac nisi. Aliquam eget turpis ut dolor facilisis fringilla. Ut volutpat vulputate ex. Nam tincidunt augue sit amet fermentum sodales. Integer mollis urna ut leo posuere bibendum. Sed et turpis diam. Mauris varius enim dignissim hendrerit sollicitudin. Quisque congue leo id tincidunt condimentum. In in dui egestas, condimentum massa a, euismod urna.
                            <br/><br/>
                            Sed nec gravida est. Sed in ipsum at odio aliquet efficitur et a diam. Suspendisse potenti. Maecenas sollicitudin mattis dui, dictum varius diam pulvinar vel. Quisque dapibus sed orci vel gravida. In nec porta quam. Ut enim augue, rhoncus eu est sagittis, ullamcorper efficitur sem. Mauris eget viverra nibh, eget cursus libero. Nulla tincidunt egestas bibendum.
                            <br/><br/>
                        </p>
                    </div>
                </center>
            </div>
        </div>


{% endblock %}
