{% extends 'base.html' %}
{% block content %}

            <div class="container">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <center>
                                    <br/><br/>
                                    <h5 class="card-title">{{ product.name }}</h5>
                                    <br/><br/>
                                    <p class="card-text"><small class="text-body-secondary">{{ product.category }}</small></p>
                                    <br/><br/>
                                    <p class="card-text">{{ product.description }}</p>
                                    <br/><br/>
                                    {% if product.is_sale %}
                                        <div class="card-body p-4">
                                            <div class="text-center">
                                                <!-- Product name-->
                                                <h5 class="fw-bolder">{{ product.name }}</h5>
                                                <!-- Product price-->
                                                <strike>
                                                    ${{ product.price }}
                                                </strike>
                                                &nbsp;${{ product.sale_price }}
                                                <br/>

                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="card-body p-4">
                                            <div class="text-center">
                                                <!-- Product name-->
                                                <h5 class="fw-bolder">{{ product.name }}</h5>
                                                <!-- Product price-->
                                                ${{ product.price }}
                                                <br/>ID: {{ product.id }}

                                            </div>
                                        </div>
                                    {% endif %}
                                    <br/><br/>
                                    <div class="row justify-content-center">
                                        <div class="col-md-2">Quantity:</div>
                                        <div class="col-md-2">
                                            <select class="form-select form-select-sm" id="qty-cart">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                            </select>
                                        </div>
                                    </div>
                                    <br/><br/>
                                    <br/><br/>
                                    <a href="{% url 'home' %}" class="btn btn-secondary">
                                        Home
                                    </a>
                                    <button class="btn btn-secondary" value="{{ product.id }}" id="add-cart">
                                        Add to cart
                                    </button>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


<script>
<!--    Check if button press-->
    $(document).on('click','#add-cart',function(e){
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url 'cart_add' %}',
            data: {
                product_id: $('#add-cart').val(),
                product_qty: $('#qty-cart option:selected').text(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },

            success: function(json){
<!--                console.log(json)-->
                    document.getElementById("cart_quantity").textContent = json.qty
            },

            error: function(xhr, errmsg, err){

            }

        });
    })
</script>

{% endblock %}
