{% extends 'base.html' %}
{% block content %}

            <div class="container">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <center>
                                    <br/><br/>
                                    <h5 class="card-title">{{ product.name }}</h5>
                                    <br/><br/>
                                    <p class="card-text"><small class="text-body-secondary">{{ product.category }}</small></p>
                                    <br/><br/>
                                    <p class="card-text">{{ product.description }}</p>
                                    <br/><br/>
                                    {% if product.is_sale %}
                                        <div class="card-body p-4">
                                            <div class="text-center">
                                                <!-- Product name-->
                                                <h5 class="fw-bolder">{{ product.name }}</h5>
                                                <!-- Product price-->
                                                <strike>
                                                    ${{ product.price }}
                                                </strike>
                                                &nbsp;${{ product.sale_price }}
                                                <br/>

                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="card-body p-4">
                                            <div class="text-center">
                                                <!-- Product name-->
                                                <h5 class="fw-bolder">{{ product.name }}</h5>
                                                <!-- Product price-->
                                                ${{ product.price }}
                                                <br/>

                                            </div>
                                        </div>
                                    {% endif %}

                                    <a href="{% url 'home' %}" class="btn btn-secondary">Home</a>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


{% endblock %}
